
body {
    padding: 5%;
    height: 100vh;

}
h1 {
    text-align: center;
}

h2{
    text-align: center;
}

p {
    text-align: center;
}

.btn-dark {
    background-color: #9B575C !important;
    
}

.progress-bar {
    background-color: #52222A !important;
}

.formbutton {
    text-align: center;
    padding:5%;
}

.step3container {
    grid-template-rows: 0%;
}

.btn-light {
    border: 1px solid black;
}

.skinbutton{
    text-align: center;
    padding:15px;
}

.skinbutton button{
    height: 100px;
    width: 100px;
}

.skintone {
    border:solid black;
    padding:20px;
    border-radius: 50%;
}

.skin1 {
    background-color: #f6ede4;
}

.skin2{
    background-color: #f3e7db;
}

.skin3 {
    background-color: #f7ead0;
}

.skin4{
    background-color: #eadaba;
}

.skin5 {
    background-color: #d7bd96;
}

.skin6 {
    background-color: #a07e56;
}

.skin7 {
    background-color: #825c43;
}

.skin8 {
    background-color: #604134;
}

.skin9 {
    background-color: #3a312a;
}

.skin10 {
    background-color: #292420;
}

.favorite {
    margin: 20px;
    padding: 5%;
}

.bailey {
    background-color: #9B575C !important; 
    border-radius: 50% !important;
}

.form-inline {
    width: 100% !important;
}

.navbar-light {
    background-color: transparent !important;
}

.extended {
    border-radius: 1%;
    text-align: center;
}